<mat-sidenav-container class="sidenav-container">

  @if (isAuthenticated) {
    <mat-sidenav #sidenav mode="over" class="app-sidenav">
      <app-sidenav (closeMenu)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
  }

  <mat-sidenav-content>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    @if (isAuthenticated) {
      <app-cart-footer></app-cart-footer>
    }
    @if (isAuthenticated) {
      <app-navigation (toggleMenu)="sidenav.toggle()"></app-navigation>
    }
  </mat-sidenav-content>

</mat-sidenav-container>