/* Contenedor Global */
.sidenav-container {
  height: 100vh;
  background-color: #f8f9fa;
}

/* Configuración básica del panel lateral */
.app-sidenav {
  width: 280px;
  border-right: none;
  background: #ffffff;
  overflow-x: hidden; /* Evita scrolls horizontales raros */
}

.page-content {
  padding-bottom: 80px; 
}