.footer-container {
  position: fixed;
  bottom: 64px; // ubica el footer arriba de la barra de navegación inferior
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #212121; // Gris oscuro elegante
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3); // Sombra hacia arriba
  z-index: 999; // debajo de la barra de navegación pero flotando sobre el contenido
}

.total-info {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.monto {
  font-size: 1.6rem;
  font-weight: bold;
  color: #69f0ae; // Verde neon
}

.btn-cobrar {
  font-weight: bold;
  height: 45px;
  border-radius: 25px;
}