.info-debt {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    
    p { margin: 5px 0; color: #555; }
    
    .debt-amount {
        color: #d32f2f; /* Rojo deuda */
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}