.info-debt {
    background-color: #f7f1f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid rgba(75, 30, 58, 0.09);
    
    p { margin: 5px 0; color: #555; }
    
    .debt-amount {
        color: #d32f2f; /* Rojo deuda */
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}
